.heroSect {
  min-height: 300px;
  height: max-content;
  width: 100vw;
}

/*background: #14001b;*/

.hero-sect-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(45deg, #14001b, #4e006d, #bf4588, #2d5cc1);
  background-size: 150% 150%;
  animation: color 12s ease-in-out infinite;
  padding: 10px 20px;
  padding-bottom: 30px;
  position: relative;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.custom-shape-divider-bottom-1700481497 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700481497 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 43px;
}

.custom-shape-divider-bottom-1700481497 .shape-fill {
  fill: #2d5cc1;
}
.heroSect h1,
.heroSect span,
a button {
  font-family: "Chillax", sans-serif;
  color: #ffff;
}

.span {
  font-size: 30px;
  font-weight: 600;
}
.heroSect h1 {
  font-weight: 400;
}

.cta-pp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: fit-content;
  margin-bottom: 30px;
  margin-top: 10px;
}

.pp-container {
  position: relative;
  width: 250px;
  height: 200px;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrapper .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  box-shadow: 10px -10px 0 0 #14001b;
  transition: box-shadow 0.3s ease-in-out;
}

.img-wrapper .img.tick {
  animation: tick 1.3s ease-in-out forwards;
}

@keyframes tick {
  from {
    box-shadow: 10px -10px 0 0 #14001b;
  }
  to {
    box-shadow: 10px 10px 0 0 #14001b;
  }
}

.img-wrapper .img.untick {
  animation: untick 1.3s ease-in-out forwards;
}

@keyframes untick {
  from {
    box-shadow: 10px 10px 0 0 #14001b;
  }
  to {
    box-shadow: 10px -10px 0 0 #14001b;
  }
}

.ur-guy {
  position: absolute;
  left: -10px;
  top: -20px;
  transform: rotate(-25deg);
  z-index: 2;

  padding: 2px;
  width: fit-content;
  visibility: hidden;
  height: fit-content;
  transition: all 0.4s ease-in-out;
}

.ur-guy.swoosh {
  animation: swoosh 1.4s ease-in-out forwards;
}

@keyframes swoosh {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.ur-guy img {
  opacity: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.ur-guy.swoosh img {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.ur-guy.swoosh img {
  animation: appear 0.9s ease-in-out forwards;
  animation-delay: 3.5s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cta-buttons {
  height: max-content;
}

.cta-buttons a button {
  background: #14001b;
  transition: all 0.3s ease-in-out;
}

.cta-buttons a {
  text-decoration: none;
}

.cta-buttons a button {
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

a button {
  min-width: 120px;
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border: none;
  padding: 5px 8px;
  border-radius: 8px;
  display: flex;
  gap: 5px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 40px 0;
  background: #2d5cc1;
  white-space: nowrap;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  flex-direction: row;
  min-width: 100%;
  width: 100vw;
}

/* .logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #85a2e2);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #85a2e2);
} */

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: fit-content;
  animation: 35s slide infinite linear;
  margin-right: -5px;
  will-change: transform;
}

.logos-slide .logo {
  margin: 10px;
  font-size: 50px;
  color: #102145;
}

#portfolio-container {
  position: relative;
  background: #2750a8;

  display: flex;
  height: fit-content;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.porfolio-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.porfolio-projects-container h2 {
  font-size: 28px;
  color: #102145;
}

.port-project-image-container img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.porfolio-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background: #2d5cc1;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid #162d5f; */
}

/* .porfolio-project:nth-child(1)::after {
  content: "dare";
  width: 50px;
  height: 750px;
  z-index: 2;
  background: white;
  position: absolute;
  top: -300px;
  left: -30px;
  border-radius: 10px 0 0 10px;
  transform: rotate(45deg);
  transition: all ease-in-out;
  display: none;
} */

.porfolio-project:nth-child(1).animate::after {
  animation: flash 1.7s ease-in-out forwards;
  display: inline-block;
}

.porfolio-project:nth-child(1)::before,
.porfolio-project:nth-child(2)::before {
  content: "dare";
  width: 40px;
  height: 750px;
  z-index: 2;
  background: whitesmoke;
  opacity: 0;
  position: absolute;
  transform: rotate(6deg);
  top: -110px;
  right: 170px;
}
.porfolio-project:nth-child(1).hovered::before,
.porfolio-project:nth-child(2).hovered::before {
  opacity: 0;
  transform: rotate(6deg);
  animation: hoverred 3.2s ease-in-out forwards;
  animation-delay: 5s;
}

/* .porfolio-project:nth-child(1).hovered {
  box-shadow: 0 0 29px 2px #162d5f;
} */

.porfolio-project:nth-child(1).animate {
  border: none;
  box-shadow: none;
  animation: border 1.8s ease-in-out forwards;
}
.porfolio-project:nth-child(1)::after,
.porfolio-project:nth-child(2)::after {
  content: "dare";
  width: 50px;
  height: 1050px;
  z-index: 2;
  background: white;
  position: absolute;
  top: -1000px;
  left: -30px;
  border-radius: 10px 0 0 10px;
  transform: rotate(45deg);
  transition: all ease-in-out;
  display: none;
}

.porfolio-project:nth-child(2).animate2 {
  border: none;
  animation: border 1.8s ease-in-out forwards;
}

.porfolio-project:nth-child(2).animate2::after {
  animation: flash 1.7s ease-in-out forwards;
  display: inline-block;
}
@keyframes flash {
  from {
    top: -1000px;
    left: -30px;
  }
  to {
    top: 260px;
    left: 350px;
  }
}

@keyframes border {
  0% {
    border: none;
    width: 300px;
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 0.4px 0.2px #162d5f;
  }
  100% {
    box-shadow: 0 0 3px 1.2px #162d5f;
    border: 1.5px solid #cedaf4;
    width: 310px;
  }
}
@keyframes hoverred {
  from {
    opacity: 0;

    transform: rotate(6deg);
  }
  to {
    opacity: 0.1;

    transform: rotate(10deg);
  }
}
.port-project-texts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.port-project-texts-container h3,
.port-project-texts-container a,
.port-project-texts-container p,
.porfolio-projects-container h2 {
  font-family: "Chillax", sans-serif;
  color: #102145;
  transition: all 1s ease-in-out;
}

.port-project-texts-container p {
  line-height: 25px;
}

.porfolio-project.hovered .port-project-texts-container h3,
.porfolio-project.hovered .port-project-texts-container a,
.porfolio-project.hovered .port-project-texts-container p,
.porfolio-project.hovered .porfolio-projects-container h2 {
  color: #102145;
  animation: hovered 1.3s ease-in-out forwards;
}

@keyframes hovered {
  from {
    color: #102145;
  }
  to {
    color: white;
  }
}

.port-project-texts-container h3 {
  text-align: left;
  width: 100%;
}

.custom-shape-divider-top-1700552595 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1700552595 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 43px;
}

.custom-shape-divider-top-1700552595 .shape-fill {
  fill: #2d5cc1;
}

@media screen and (max-width: 767px) {
  .port-proj-conts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .port-proj-conts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
  }

  .porfolio-projects-container {
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .heroSect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
  }

  .port-project-texts-container h3 {
    text-align: center;
  }

  .cta-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
  }

  .porfolio-project {
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .cta-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
  }

  .heroSect {
    min-height: 450px;
    height: max-content;
  }
}

@media screen and (max-width: 425px) {
  .logos:before,
  .logos:after {
    width: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .heroSect {
    min-height: 200px;
    height: max-content;
  }
}

@media screen and (min-width: 813px) {
  .hero-sect-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
    padding: 10px 40px;
  }

  .cta-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    height: fit-content;
  }

  a button {
    font-size: 21px;
  }

  .porfolio-projects-container h2 {
    font-size: 32px;
  }

  .port-project-texts-container h3 {
    font-size: 22px;
  }

  .port-project-texts-container a {
    font-size: 16.5px;
  }

  .port-project-texts-container p {
    font-size: 18px;
  }

  .port-project-image-container img {
    width: 260px;
  }

  .porfolio-project {
    min-width: 460px;
    width: 50vw;
  }

  .porfolio-project:nth-child(1).animate {
    border: none;
    box-shadow: none;
    animation: border 1.8s ease-in-out forwards;
  }
  .porfolio-project:nth-child(2).animate {
    border: none;
    box-shadow: none;
    animation: border 1.8s ease-in-out forwards;
  }

  @keyframes border {
    0% {
      border: none;
      min-width: 460px;
      width: 50vw;
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 0.4px 0.2px #162d5f;
    }
    100% {
      box-shadow: 0 0 3px 1.2px #162d5f;
      border: 1.5px solid #cedaf4;
      min-width: 470px;
      width: 55vw;
    }
  }
}
